<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
</head>
<body>
    <h1 style="color: rgb(119, 0, 255)">Gracias por venir !!</h1>
    <p>Este es mi proyecto!! de la "Familia Panda" </p>
    <p>Informacion de {{nombre}}</p>
    <h2 style="color: rgb(137, 92, 209)"></h2>
    
</body>
</html >



<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Año</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Vinculo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{nombre}}</td>
            <td>{{año}}</td>
            <td>{{fecha}}</td>
            <td>{{vinculo}}</td>
          </tr>
          </tr>
        </tbody>
      </table>

